.bouton {
  text-align: right;
  padding-right: 1em;
}

.optionrow {
  padding-bottom: 1em;
}

input.pin {
  margin-left: 0.5em;
}

.boutons {
  text-align: right;
}

.row-boutons {
  text-align: center;
}

.formLogin > div {
  padding-top: 1em;
  padding-bottom: 1em;
}

.pinInput {
  width: 20em;
}

.alignement-droite {
  text-align: right;
}

div.table div.table-header {
  background-color: #9eb1bb;
  font-weight: bolder;
}

@media print {
  .w3-top {
    display: none;
  }
  .menu-gauche {
    display: none;
  }
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 767px) {
}

.idmg {
  font-size: smaller;
}

.horizontal-padding {
  margin-left: 1rem;
  margin-right: 1rem;
}

.messageliste {
  font-weight: 600;
  cursor: pointer;
}

.messageliste > DIV {
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  height: 4.3rem;
  overflow: hidden;
}

.messageliste .lu {
  font-weight: 400;
}

.messageliste .sujet {
  font-size: smaller;
}

.messageliste .selectionne {
  background-color: darkblue;
}