Mode local, utilise url du navigateur avec le port https regulier (443)
{
    "local": true
}

Endpoint pour la reception de message.
{
    "urlPoster": "https://HOSTNAME/reception/message"
}

Liste d'instances de la millegrille. Download fiche.json pour trouver l'adresse de reception (endpoint) de messages.
{
    "urlInstances": ["https://HOSTNAME"]
}

Il est possible d'ajouter une liste predéterminée de destinataires qui ne peut pas être changée.
{
    "urlPoster": "https://HOSTNAME/reception/message",
    "destinataires": ["proprietaire", "alicebobba"]
}